//   Clearfix. : @extend %group

%group {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

//   Convert Pixel to Rem : pixel for older browsers. @include convertFontSize(16px);

@function convertRem($size) {
	$remSize: $size / $base-font-size;
	@return #{$remSize}rem;
}

@mixin pxToRem($size) {
	font-size: $size;
	font-size: convertRem($size);
}

// @params {@required} {$direction} {'both', 'vertical', 'horizontal'} 
// {@required} Parent elements must be in position: relative;
@mixin centering($direction: 'both') {
	position: absolute;
	@if ($direction == 'both') {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);		
	} @else if ($direction == 'vertical') {
		top: 50%;
		transform: translateY(-50%);				
	} @else if ($direction == 'horizontal') {
		left: 50%;
		transform: translateX(-50%);				
	} @else {
		// Eventual Debug
 		@warn "Error, parameter is not passed correctly.";
		@debug "The parameter passed is : #{$direction}"; 
	}
}



// Media Queries
@mixin mq($bp, $type: 'min-width') {
	@media only screen and ($type:$bp){  
		@content;
	}
}
@mixin custom-mq($min-bp, $max-bp) {
	@media only screen and (min-width:$min-bp) and (max-width: $max-bp) {  
		@content;
	}
}