.ios input[data-type=switch]:checked ~ label, .ios label, .ios label:after, .material input[data-type=switch]:checked ~ label, .material label, .material label:after, .ios.square input[data-type=switch]:checked ~ label, .ios.square label, .ios.square label:after, .material.purple input[data-type=switch]:checked ~ label, .material.purple label, .material.purple label:after, .my-switch input[data-type=switch]:checked ~ label, .my-switch label, .my-switch label:after {
  -webkit-transition: all 0.2s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: all 0.2s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
  transition-delay: 0.1s; }

.ios {
  display: inline-block;
  width: 50px;
  max-width: 50px;
  position: relative;
  height: 25px; }
  .ios input[data-type=switch]:checked ~ label, .ios.square input[data-type=switch]:checked ~ label {
    background-color: #64bd63;
    border: 1px solid #bdc3c7;
    box-shadow: #64bd63 0px 0px 0px 16px inset; }
  .ios > label, .ios.square > label {
    background-color: #95a5a6;
    border: 1px solid #dfdfdf;
    box-shadow: #dfdfdf 0px 0px 0px 0px inset; }
  .ios > label {
    border-radius: 15px; }
    .ios > label:after {
      height: 95%;
      border-radius: 15px; }
  .ios input[data-type=switch] {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .ios input[data-type=switch]:checked ~ label:after {
    left: calc(100% - 25px); }
  .ios input[data-type=switch]:checked ~ label:before {
    position: absolute;
    left: 10%; }
  .ios label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1; }
    .ios label:after {
      width: 25px;
      position: absolute;
      left: 0;
      content: "";
      background: #fff;
      border: 1px solid #cccccc; }
    .ios label:before {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bolder;
      color: white; }

.material {
  display: inline-block;
  width: 50px;
  max-width: 50px;
  position: relative;
  height: 17px; }
  .material input[data-type=switch]:checked ~ label, .material.purple input[data-type=switch]:checked ~ label {
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
    box-shadow: rgba(139, 195, 74, 0.3) 0px 0px 0px 16px inset; }
  .material > label, .material.purple > label, .material .my-switch > label {
    background-color: #b6b6b6;
    border: 1px solid #b6b6b6;
    box-shadow: #cccccc 0px 0px 0px 0px inset; }
  .material > label {
    border-radius: 15px; }
    .material > label:after {
      border-radius: 100%;
      height: 25px;
      box-shadow: 1px 1px 10px #3c571d;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
  .material input[data-type=switch]:checked ~ label {
    background: rgba(139, 195, 74, 0.5); }
    .material input[data-type=switch]:checked ~ label:after {
      background: #8BC34A;
      box-shadow: 1px 1px 10px #8BC34A; }
  .material input[data-type=switch] {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .material input[data-type=switch]:checked ~ label:after {
    left: calc(100% - 25px); }
  .material input[data-type=switch]:checked ~ label:before {
    position: absolute;
    left: 10%; }
  .material label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1; }
    .material label:after {
      width: 25px;
      position: absolute;
      left: 0;
      content: "";
      background: #fff;
      border: 1px solid #cccccc; }
    .material label:before {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bolder;
      color: white; }

.ios.square {
  display: inline-block;
  width: 50px;
  max-width: 50px;
  position: relative;
  height: 25px; }
  .ios.square input[data-type=switch]:checked ~ label {
    background-color: #64bd63;
    border: 1px solid #bdc3c7;
    box-shadow: #64bd63 0px 0px 0px 16px inset; }
  .ios.square .ios > label, .ios.square > label {
    background-color: #95a5a6;
    border: 1px solid #dfdfdf;
    box-shadow: #dfdfdf 0px 0px 0px 0px inset; }
  .ios.square > label {
    border-radius: 5px; }
    .ios.square > label:after {
      height: 95%;
      border-radius: 5px; }
  .ios.square input[data-type=switch] {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .ios.square input[data-type=switch]:checked ~ label:after {
    left: calc(100% - 25px); }
  .ios.square input[data-type=switch]:checked ~ label:before {
    position: absolute;
    left: 10%; }
  .ios.square label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1; }
    .ios.square label:after {
      width: 25px;
      position: absolute;
      left: 0;
      content: "";
      background: #fff;
      border: 1px solid #cccccc; }
    .ios.square label:before {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bolder;
      color: white; }

.material.purple {
  display: inline-block;
  width: 50px;
  max-width: 50px;
  position: relative;
  height: 17px; }
  .material.purple input[data-type=switch]:checked ~ label {
    background-color: #512da8;
    border: 1px solid #512da8;
    box-shadow: rgba(81, 45, 168, 0.3) 0px 0px 0px 16px inset; }
  .material.purple .material > label, .material.purple > label, .material.purple .my-switch > label {
    background-color: #b6b6b6;
    border: 1px solid #b6b6b6;
    box-shadow: #cccccc 0px 0px 0px 0px inset; }
  .material.purple > label {
    border-radius: 15px; }
    .material.purple > label:after {
      border-radius: 100%;
      height: 25px;
      box-shadow: 1px 1px 10px #170d2f;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
  .material.purple input[data-type=switch]:checked ~ label {
    background: rgba(81, 45, 168, 0.5); }
    .material.purple input[data-type=switch]:checked ~ label:after {
      background: #512DA8;
      box-shadow: 1px 1px 10px #512DA8; }
  .material.purple input[data-type=switch] {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .material.purple input[data-type=switch]:checked ~ label:after {
    left: calc(100% - 25px); }
  .material.purple input[data-type=switch]:checked ~ label:before {
    position: absolute;
    left: 10%; }
  .material.purple label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1; }
    .material.purple label:after {
      width: 25px;
      position: absolute;
      left: 0;
      content: "";
      background: #fff;
      border: 1px solid #cccccc; }
    .material.purple label:before {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bolder;
      color: white; }

.my-switch {
  display: inline-block;
  width: 60px;
  max-width: 60px;
  position: relative;
  height: 20px; }
  .my-switch .material.purple input[data-type=switch]:checked ~ label, .material.purple .my-switch input[data-type=switch]:checked ~ label, .my-switch input[data-type=switch]:checked ~ label {
    background-color: #ffeb3b;
    border: 1px solid #ffeb3b;
    box-shadow: rgba(255, 235, 59, 0.3) 0px 0px 0px 16px inset; }
  .my-switch .material > label, .my-switch > label {
    background-color: #b6b6b6;
    border: 1px solid #b6b6b6;
    box-shadow: #cccccc 0px 0px 0px 0px inset; }
  .my-switch > label {
    border-radius: 15px; }
    .my-switch > label:after {
      border-radius: 100%;
      height: 30px;
      box-shadow: 1px 1px 10px #a19100;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
  .my-switch input[data-type=switch]:checked ~ label {
    background: rgba(255, 235, 59, 0.5); }
    .my-switch input[data-type=switch]:checked ~ label:after {
      background: #FFEB3B;
      box-shadow: 1px 1px 10px #FFEB3B; }
  .my-switch input[data-type=switch] {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  .my-switch input[data-type=switch]:checked ~ label:after {
    left: calc(100% - 30px); }
  .my-switch input[data-type=switch]:checked ~ label:before {
    position: absolute;
    left: 10%; }
  .my-switch label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1; }
    .my-switch label:after {
      width: 30px;
      position: absolute;
      left: 0;
      content: "";
      background: #f9f9f9;
      border: 1px solid #c6c6c6; }
    .my-switch label:before {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bolder;
      color: white; }

.item {
  display: inline-block;
  min-width: 150px;
  padding: 10px; }
  .item h2 {
    font-size: 100%; }

.menu-animations {
  position: relative;
  height: 100%; }

.flexy {
  flex: 1; }

.menu {
  display: flex;
  flex-direction: row; }
  .menu .svg {
    cursor: pointer; }
    .menu .svg svg {
      padding: 20px; }
  .menu .css .menu-icon .first, .css .menu-icon .menu .first, .menu .css .menu-icon:after, .css .menu .menu-icon:after, .menu .css .menu-icon:before, .css .menu .menu-icon:before {
    width: 60px;
    height: 10px;
    background: #222;
    position: absolute;
    content: "";
    transition: all 0.3s ease-out; }

.css .menu-icon {
  margin: 20px 0 0 20px;
  cursor: pointer;
  position: relative;
  width: 100%; }
  .css .menu-icon .first {
    transition: all 0.1s ease-out;
    top: 40px; }
  .css .menu-icon:after {
    top: 20px; }
  .css .menu-icon:before {
    top: 0; }
.css.animate .menu-icon:after {
  opacity: 0;
  width: 0; }
.css.animate .menu-icon:before {
  transform: rotate(45deg);
  transform-origin: 0 0;
  background: green; }
.css.animate .menu-icon .first {
  transform: rotate(-45deg);
  background: green;
  transform-origin: 0 10px; }

.svg-icon {
  width: 100px;
  height: 100px; }
