@charset "UTF-8";
/*
Theme Name: 	Antonio
Theme URI: 		http://antoniofullone.com
Description: 	My Personal theme
Version: 		2.0
Author: 		Antonio Fullone
Author URI: 	http://antoniofullone.com
Tags: 			#lazy 
*/
/*
===========================
CONTENTS:
===========================
*/
.actions:before, .actions:after {
  content: " ";
  display: table; }
.actions:after {
  clear: both; }

.hide {
  position: absolute;
  left: -9999999em; }

.align-left {
  float: left; }

.align-right {
  float: right; }

.rwd-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block; }

.code {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding: 10px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  border-radius: 4px;
  max-width: 70%;
  margin: 40px auto;
  background: #fcf8e3; }

.actions:before, .actions:after {
  content: " ";
  display: table; }
.actions:after {
  clear: both; }

/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html, button, input, select, textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before, q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

a {
  color: #4183D7;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  font-size: 15px;
  line-height: 1.5;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: normal;
  font-style: italic;
  padding: 10px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  border-radius: 4px;
  max-width: 90%;
  background: #222;
  overflow-x: auto; }

blockquote {
  font-style: italic;
  font-size: 17px;
  padding-left: 10px;
  border-left: 5px solid #e5e5e5;
  width: 80%;
  max-width: 450px;
  margin: 0 1.5em;
  font-size: 1.1rem; }
  @media only screen and (min-width: 1024px) {
    blockquote {
      font-size: 21px;
      font-size: 1.3125rem;
      margin: auto;
      display: block;
      max-width: 650px; } }

picture, figure {
  max-height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0; }

body {
  font-family: "livory-1","livory-2", sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: “liga” on;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 2;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;
  color: #444444; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 22px;
      font-size: 1.375rem; } }

.main-nav {
  font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  font-size: 1.125rem;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.main-nav__item {
  text-decoration: none;
  color: #979797;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  width: 90px;
  min-height: 25px;
  text-align: center; }

.big-quote {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .big-quote {
      font-size: 64px;
      font-size: 4rem; } }

.small-quote {
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  color: #979797;
  text-align: right;
  max-width: 90%; }

.welcome {
  position: relative;
  margin: 2.25em auto; }
  @media only screen and (min-width: 768px) {
    .welcome {
      margin: 5.063em auto; } }

.what__header {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: normal;
  text-align: center; }

.skills-header {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .skills-header {
      font-size: 64px;
      font-size: 4rem; } }

.date {
  font-size: 14px;
  font-size: 0.875rem;
  color: #979797; }

.desc {
  font-size: 18px;
  font-size: 1.125rem; }
  @media only screen and (min-width: 1024px) {
    .desc {
      font-size: 20px;
      font-size: 1.25rem; } }

.journal .list-header {
  text-align: center; }

body {
  min-height: 100vh;
  height: 100%;
  background: #F0E5C9;
  padding: 10px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0; }

.page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ffffff;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 10px; }

.grid, .lab {
  max-width: 980px;
  margin: 2.25em auto 0 auto; }

.content {
  max-width: 1280px;
  margin: auto; }

@media only screen and (min-width: 768px) {
  .logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    position: relative;
    margin: 0; }
    @media only screen and (min-width: 1135px) {
      .logo {
        -webkit-box-flex: 2;
        -webkit-flex: 2 0 0;
            -ms-flex: 2 0 0;
                flex: 2 0 0; } } }

@media only screen and (min-width: 768px) {
  .logo__image {
    max-width: 70px; } }

.main-nav {
  width: 100%;
  max-width: 100%;
  height: auto; }
  @media only screen and (min-width: 768px) {
    .main-nav {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 0;
          -ms-flex: 1 0 0;
              flex: 1 0 0;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin-left: auto; } }

.main-header {
  position: relative;
  margin-bottom: 0.667em; }
  @media only screen and (min-width: 768px) {
    .main-header {
      margin-bottom: 1.5em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media only screen and (min-width: 1024px) {
    .main-header {
      margin-bottom: 5.063em; } }

.logo__link {
  width: 70px;
  height: 70px;
  max-width: 70px;
  display: block;
  margin: auto; }
  @media only screen and (min-width: 768px) {
    .logo__link {
      margin: 0; } }

.main-footer {
  height: 320px; }

.what__visual {
  display: block;
  max-width: 120px;
  width: 120px;
  height: auto;
  margin: auto; }
  @media only screen and (min-width: 1024px) {
    .what__visual {
      max-width: 150px;
      width: 150px; } }
  @media only screen and (min-width: 768px) {
    .what__visual {
      width: 100%;
      max-width: 10; } }

.what__text {
  max-width: 250px;
  width: 80%;
  margin: 1.5em auto;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .what__text {
      max-width: 350px; } }

.what {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.whatIdo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5em 0 0 0; }
  @media only screen and (min-width: 768px) {
    .whatIdo {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

.about {
  width: 100%;
  max-width: 980px;
  margin: auto; }

.image__caption {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  bottom: -20px; }

@media only screen and (min-width: 1024px) {
  .about__me {
    max-width: 700px;
    margin-left: 25%; } }

.journal {
  max-width: 980px;
  margin: auto; }

.journal__list {
  margin: 3em auto 5em auto;
  max-width: 660px; }

.journal__post {
  list-style: none;
  border-left: 6px solid #e5e5e5;
  margin-bottom: 1.5em;
  padding-left: 15px; }

.journal__post-title {
  color: #444444;
  display: block; }
  .journal__post-title:hover {
    text-decoration: none; }

.title--journal {
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-size: 2rem; }
  @media only screen and (min-width: 1024px) {
    .title--journal {
      font-size: 48px;
      font-size: 3rem; } }

.post {
  width: 100%;
  max-width: 980px;
  margin: auto; }

.post__content {
  max-width: 700px;
  margin: auto;
  position: relative; }

.post-content > p:first-of-type:first-letter {
  font-style: normal;
  font-weight: 400;
  color: #444444;
  font-size: 72px;
  font-size: 4.5rem;
  float: left;
  line-height: .7;
  margin: 0.117em .1em 0 0;
  -webkit-transition: color 0.5s ease;
          transition: color 0.5s ease; }

.info {
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  color: #646464;
  position: absolute;
  left: -220px;
  width: 190px; }
  @media only screen and (min-width: 320px) and (max-width: 1024px) {
    .info {
      width: 300px;
      max-width: 320px;
      position: relative;
      margin: 2em auto 0 auto;
      left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .info {
      position: relative;
      left: 0; } }
  .info li {
    margin-bottom: 1em;
    border-bottom: 1px dotted #e5e5e5; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .info li {
        display: inline-block; } }
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
      .info li {
        display: inline-block;
        margin-right: 1.5em;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0;
            -ms-flex: 1 0 0;
                flex: 1 0 0;
        text-align: center; } }

.info__link {
  color: #979797; }

.info__list {
  list-style-type: none; }
  @media only screen and (min-width: 320px) and (max-width: 1024px) {
    .info__list {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

.post__title {
  text-align: center;
  font-size: 32px;
  font-size: 2rem; }
  @media only screen and (min-width: 768px) {
    .post__title {
      font-size: 64px;
      font-size: 4rem; } }

.post__meta {
  color: #979797;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-size: 0.875rem; }
  @media only screen and (min-width: 768px) {
    .post__meta {
      font-size: 16px;
      font-size: 1rem; } }

.post__image {
  position: relative;
  overflow: hidden;
  display: block;
  height: 250px; }
  @media only screen and (min-width: 768px) {
    .post__image {
      height: 100%;
      max-height: 450px; } }

.img--post {
  display: block;
  width: 100%;
  margin-bottom: 1em; }

.about__me {
  max-width: 700px;
  margin: auto; }

.main-footer {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 5em;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px; }

.flexy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 90%; }
  @media only screen and (min-width: 768px) {
    .flexy {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
  width: 25%; }
  .col p {
    max-width: 90%; }
  @media only screen and (min-width: 768px) {
    .col {
      margin: 0;
      padding: 5px; } }

.contact {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    .contact {
      border-right: 1px solid #e5e5e5; } }

.contact__item {
  font-size: 14px;
  font-size: 0.875rem;
  list-style: none;
  margin-bottom: 1em;
  display: inline-block;
  width: 40%;
  margin-right: 10px; }
  @media only screen and (min-width: 1024px) {
    .contact__item {
      display: block; } }

.social {
  color: #444444;
  display: block;
  font-style: italic; }

.footer-info {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  font-style: italic;
  max-width: 980px; 
  margin-bottom: 5px;
}

.nerdy {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1em; }
  @media only screen and (min-width: 768px) {
    .nerdy {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2; } }

.colophon {
  font-size: 14px;
  font-size: 0.875rem;
  display: none; }
  @media only screen and (min-width: 768px) {
    .colophon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

.colophon__header {
  font-size: 16px;
  font-size: 1rem;
  display: none;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .colophon__header {
      display: block;
      font-size: 18px;
      font-size: 1.125rem; } }

.copyright {
  font-size: 12px;
  font-size: 0.75rem;
  text-align: right;
  width: 100%;
  border-top: 1px dotted #e5e5e5;
  padding-top: 5px; }

@-webkit-keyframes highlight {
  0% {
    opacity: 0;
    color: red; }

  30% {
    opacity: .3;
    color: red;
    font-weight: bold; }

  60% {
    opacity: .7;
    color: red;
    font-weight: bolder; }

  100% {
    opacity: 1; } }

@keyframes highlight {
  0% {
    opacity: 0;
    color: red; }

  30% {
    opacity: .3;
    color: red;
    font-weight: bold; }

  60% {
    opacity: .7;
    color: red;
    font-weight: bolder; }

  100% {
    opacity: 1; } }

#email:target {
  outline: none;
  -webkit-animation: highlight 1s;
          animation: highlight 1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3; }

.lab {
  max-width: 980px;
  margin: auto; }
  .lab h1 {
    text-align: center;
    max-width: 95%;
    margin: auto;
    font-size: 48px;
    font-size: 3rem; }
    @media only screen and (min-width: 768px) {
      .lab h1 {
        font-size: 64px;
        font-size: 4rem; } }
  .lab article h2 {
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .lab article h2 {
        text-align: left; } }

.flexy-container {
  margin-top: 2.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .flexy-container img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  @media only screen and (min-width: 768px) {
    .flexy-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

.desc {
  display: block;
  margin: .5em 0;
  color: #222222;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .desc {
      text-align: left; } }

.flexy-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .flexy-item figure {
    height: 150px;
    overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .flexy-item {
      width: 250px;
      -webkit-box-flex: 0;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      margin: 30px; } }

.lab__code {
  padding: 5px; }

.btn {
  width: auto;
  min-width: 120px;
  padding: 10px;
  border-radius: 1px;
  background: rgba(65, 131, 215, 0.8);
  color: #fff;
  font-size: 12px;
  font-style: italic;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none; }
  .btn:hover {
    background: #5691db; }
  .btn:last-child {
    margin-right: 0; }
  .btn a {
    color: #fff; }
    .btn a:hover {
      text-decoration: none; }

#code {
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
  #code.show {
    opacity: 1;
    height: 450px;
    width: 80%;
    max-width: 600px;
    overflow: scroll; }

.gallery {
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px auto; }
  @media only screen and (min-width: 768px) {
    .gallery {
      width: 520px;
      height: 100%;
      max-height: 700px;
      overflow: none; }
      .gallery.design-icon {
        width: 120px;
        height: 120px; } }
  .gallery img {
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    display: block; }

.lab-design .btn {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: center; }

.design .flexy-item figure {
  max-height: 450px;
  height: auto;
  width: 100%; }
  .design .flexy-item figure.design-icon {
    width: 120px;
    height: 120px;
    min-width: 120px; }
  @media only screen and (min-width: 768px) {
    .design .flexy-item figure {
      width: 100%;
      min-width: 600px;
      height: auto;
      max-height: 700px; }
      .design .flexy-item figure.design-icon {
        width: 120px;
        height: 120px;
        min-width: 120px; } }

.btn.centered {
  margin: auto;
  display: block; }

  /* New added */
  .old-text {
    text-decoration: line-through;
  }
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
