---
layout: default
---

<section class="about">
	<aside class="about__info">
		<figure class="img--about">
			<picture>
				<img src="/images/folgaria.png" alt="Me and my nephews" class="rwd-img image"/>
			</picture>
			<figcaption class="image__caption">
				With my little nephews.
			</figcaption>
		</figure>
	</aside>
	<article class="about__me">
		<header>
			<h1 class="title--about"> Me, myself and I.</h1>
		</header>
		<div class="about__content">
			<p>
				<strong>24th of September 1977</strong> : Born in the beautiful, sunny and always smiling south of Italy. I remember once I saw the snow and they wrote about it in the newspapers.
			</p>
			<p>
				<strong>24th September 1993</strong> : Something happened, my life changed forever.
			</p>

			<p>
				<strong>8th of January 2008</strong> :  Moved to Barcelona. Started working  in an international environment. I fell in love with Spanish culture, and I could not avoid to become a Barca fan, even my little cat was called Messi :-)
			</p>
			<p>
				<strong>8th of August 211 </strong>:  Moved to the Netherlands. Lived in Amsterdam, Utrecht and now Delft. I cannot get used to the weather. Amsterdam in my opinion is overrated, Utrecht is one of the most beautiful cities in Europe.
			</p>
			<p>
				<strong>13th of June 2015 </strong>:  Moved to  Andalucia, Spain. I missed Spain so much so when I had the opportunity I moved back to where my heart belong.
			</p>
			<p>
				
			</p>
			<p>
				<strong>Study</strong> : I did not go to any university, but I asked a lot of questions to Google, he's always been open to help me. Once I learned english I could not stop asking questions.
			</p>
			<p>
				<strong>Work</strong> : Front end developer with a love for Design and Typography. I work for WilliamHill, the number one site for gambling online. I am in love with CSS, and in a open relationship with Sass. But sometimes I betray them for Sketch. Javascript is a good friend of mine (\m/). 
			</p>
			<p>
			<strong>Life, fun, hobbies</strong> : I like cooking, travelling and learning new languages. I am trying (with no results) to learn japanese, dutch and german. I do speak spanish, catalan, english and Calabrian. I also play a electric guitar with my Ipad and trained for some years in muay thai. I never watched starwars or lord of the ring, I don't drink red bull and I do most of my job during the day, so in the night I can deal with my sleep disorders. 
			Trying to conduct a healthy life, and make my little nephews happy every time I see them.
			</p>
			<p>
				<strong>Social Life </strong>: I'm not that kind of (online) social guy (meet me offline I'm better!), but<a href="http://www.twitter.com/lastwebdesigner"> Twitter </a>  is my favorite one, but I also use  <a href="http://www.facebook.com/antonio.fullone">Facebook</a> and G+ (well sort of ..). You can also drop me a line at antonio[at][antoniofullone].com
			</p>	
		</div>
	</article>
</section>
