---
layout: lab
---
<section class="lab">
<div class="presentation">
    <article >
        <h1>Circular Menu inspired by path and Up24 apps.  </h1>
        <p>
            Inspired by Path and Up24 Apps (and by the fact that I am learning swift) I created a simple circular menu using css animations.
            <br />I could not use the blur() function in css as it slows down the whole animation.
        </p>
    </article>
    <div class="actions">
        <button class="btn download">
            <a href="http://antoniofullone.com/files/circular/">
                <span>Example</span>
            </a>
        </button>
        <button class="btn source">
            <a href="https://bitbucket.org/afullone/circular-menu">
                <span>Source Code</span>       
            </a>
        </button> 
    </div>
</div>
    <p></p>
    
    <div class="flexy-container">
        
    </div>
     
</section>