---
layout: lab
---
<section class="lab design">
    <header> <h1>Welcome to my (Design)Lab!</h1></header>
    <article  class="presentation">
        <p>
            This is where I publish my designs. I recently did the final step and 
            switched to <strong>Sketch</strong> so most of the recent works are now created in Sketch rather than <strong>Photoshop</strong>.
            You can check some other code focussed works <a href="/lab/">here</a>
            <br>More Designs coming .. 
        </p>
    </article>
    <div class="row">
        <div class="flexy-container">
         <article class="">
                <h2>My new (shiny) website.</h1>
                <p class="description">
                    I redesigned my website recently and completely rewritten it using my favorite tools: Sass, Sketch, Pure Old Semantic Html.
                    Of course, mobile first. :D
                </p>
                <p>
                    <figure class="">
                        <img src="/images/lab/design/mywebsite.png" alt="Antonio Fullone's website">
                    </figure>
                </p>
                <p>
                        <a class="btn" href="/images/lab/design/mywebsite.png">View</a>
                        <a class="btn" href="/images/lab/design/mywebsite.zip">Download Sketch File</a>
                </p>
            </article>
            <article>
                <h2>Icons.</h2>
                <p class="description"> 
                    I needed some icons for my new website. There are very nice icons out there, but why not design mine? And so I did. (I am still doing, work in progress).
                </p>
                <div class="flexy-container">
                    <div class="flexy-item">
                        <figure class="gallery design-icon">
                            <img src="/images/lab/design/bitbucket/bitbucket.png" alt="bitbucket icon">
                        </figure>
                            <a class="btn centered" href="/images/lab/design/bitbucket/bitbucket.svg">Download</a>
                    </div>
                    <div class="flexy-item">
                        <figure class="gallery design-icon">
                            <img src="/images/lab/design/github/github.png" alt="">
                        </figure>
                            <a  class="btn centered" href="/images/lab/design/github/github.svg">Download</a>
                    </div>
                     <div class="flexy-item">
                        <figure class="gallery design-icon">
                            <img src="/images/lab/design/dribbble/dribbble.png" alt=" icon">
                        </figure>
                            <a  class="btn centered" href="/images/lab/design/dribbble/dribbble.svg">Download</a>
                    </div>
                    <div class="flexy-item">
                        <figure class="gallery design-icon">
                            <img src="/images/lab/design/code/code.png" alt="">
                        </figure>
                            <a class="btn centered" href="/images/lab/design/code/code.svg">Download</a>
                    </div>
                     <div class="flexy-item">
                        <figure class="gallery design-icon">
                            <img src="/images/lab/design/email/email.png" alt="">
                        </figure>
                            <a class="btn centered"  href="/images/lab/design/email/email.svg">Download</a>
                    </div>
                </div>
            </article>
            <article class="">
                <h2>My first IOS APP!.</h2>
                <p>
                    I am building my first IOS App entirely coded by me in Swift
                    and, of course. Here some interfaces I did for the register form.
                </p>
                <figure class="gallery"><img src="/images/lab/design/form-login.png" alt=""></figure>
                <a class="btn" href="/images/lab/design/form-login.png">View</a>
                    <a  class="btn" href="/images/lab/design/form-login.zip">Download</a>
            </article>
            <article class="">
                <h2>Secret project.</h2>
                <p>
                    This post will self-destruct in 5 minutes (or so ..)  
                </p>
                <p>
                  <figure class="gallery"><img src="/images/lab/design/secret.png" alt=""></figure>  
                  <a  class="btn" href="/images/lab/design/secret.png">View</a>
                </p>
            </article>
            <article class="">
                <h2>Less Secret project.</h2>
                <p>
                    Redesigning our expat blog.  
                </p>
                <p>
                  <figure class="gallery"><img src="/images/lab/design/txm.png" alt=""></figure>  
                  <a  class="btn" href="/images/lab/design/txm.png">view</a>
                </p>
            </article>
            <article class="">
                <h2>Material Design</h2>
                <p>
                    applying Material design and web component(ps: new update few days ago!) 
                </p>
                <p>
                  <figure class="gallery"><img src="/images/lab/design/sml.png" alt=""></figure>  
                  <a  class="btn" href="/images/lab/design/sml.png">View</a>
                </p>
            </article>
            <article class="">
                <h2>Logo Progetto.</h2>
                <p>
                    Progetto is a newspaper released in the south of Italy.
                    I led the design of the website, powered by wordpress, and designed the new logo.
                </p>
                <p>
                  <figure class="gallery"><a href="/images/lab/design/progetto.jpg"><img src="/images/lab/design/progetto.jpg" alt=""></a></figure>  
                  <a class="btn"  href="/images/lab/design/progetto.jpg">View</a>
                </p>
            </article>
            <article class="">
                <h2>Badge.</h2>
                <p>
                    Just a badge made when the badges were trendy :)
                </p>
                <p>
                  <figure class="gallery"><a href="/images/lab/design/logo2.png"><img src="/images/lab/design/logo2.png" alt=""></a></figure>  
                  <a  class="btn" href="/images/lab/design/logo2.png">View</a>
                </p>
            </article>
              <article class="">
                <h2>PSD's.</h2>
                <p>
                    Designs I did in the Photoshop -> then -> Browser and Desktop era. :D
                </p>
                <div class="flex-container">
                    <div class="flexy-item">
                        <figure class="gallery"><a href="/images/lab/design/old.jpg"><img src="/images/lab/design/old.jpg" alt=""></a></figure>
                        <a  class="btn centered" href="/images/lab/design/old.jpg">View</a>
                    </div>
                    <div class="flexy-item">
                        <figure class="gallery"><a href="/images/lab/design/psr-big.jpg"><img src="/images/lab/design/psr.jpg" alt=""></a></figure>
                         <a class="btn centered"href="/images/lab/design/psr-big.jpg">View</a>
                    </div>
                    <div class="flexy-item">
                        <figure class="gallery">
                       <a href="/images/lab/design/website1.jpg"> <img src="/images/lab/design/website1.jpg" alt=""></a></figure>
                         <a class="btn centered" href="/images/lab/design/website1.jpg">View</a>
                    </div>
                    <div class="flexy-item">
                        <figure class="gallery">
                         <a href="/images/lab/design/tuttoturismo.jpg">
                            <img src="/images/lab/design/tuttoturismo.jpg" alt="">
                            </a>
                        </figure>
                            <a  class="btn centered"href="/images/lab/design/tuttoturismo.jpg">View</a>
                    </div>
                    <div class="flexy-item">
                        <figure class="gallery">
                        <a href="/images/lab/design/angotti.jpg">
                            <img src="/images/lab/design/angotti.jpg" alt="">
                        </a>
                        </figure>
                            <a class="btn centered" href="/images/lab/design/angotti.jpg">View</a>
                    </div>
                </div>
            </article>
        </div> 
    </div>
    <div class="row">
        <h2>Some interactions I created while enjoying the rainiy weather of Netherlands.</h2>
        <p>
            Hey! I do code also you know? I made a nie script for make automated responsive screnshots, an app for save links using material design and others.. check my <a href="/lab/">lab</a> for more! 
        </p>
         <div class="flexy-container"> 
            <article class="lab__code flexy-item">
                    <h2>Switch Mixin</h2>
                <a href="/switch/">
                    <figure class="gallery">
                        <img src="/images/lab/switch.png" alt="Switch Buttons Sass Mixin" />
                    </figure>
                </a>
                <span class="desc">A complete mixin for create IOS and Material stylish switch buttons.</span>
            </article>   
            <article class="lab__code flexy-item">
                <h2>Circular Menu (Path, Up24)</h2>
                <a href="/circular-menu/">
                    <figure class="gallery">
                    <img src="/images/posts/circular.png" alt="Circular menu like inspired by Path and Up24" />
                </figure>
            </a>
            <span class="desc">Circular menu inspired by Path.</span>
        </article>      
         <article class="lab__code flexy-item">
                <h2>Off Canvas with Css</h2>
            <a href="/off-canvas/">
                <figure class="gallery">
                    <img src="/images/posts/off-canvas.png" alt="Off canvas with css and the :target selector" />
                </figure>
            </a>
            <span class="desc">Off Canvas with only css using the <strong>:target</strong> pseudo selector.</span>
        </article> 
         <article class="lab__code flexy-item">
                <h2>Menu icon Morph</h2>
            <a href="/menu-icon/">
                <figure class="gallery">
                    <img src="/images/posts/menu.png" alt="Menu icon Morphing" />
                </figure>
            </a>
            <span class="desc">Simple menu icon morphing using svg, snapSvg and css transform</span>
        </article>    
    </div>
    </div>
   
</section>