---
layout: default
---
<div class="content">
	<section class="welcome">
		<header>
			<h1 class="big-quote">
				Ciao! I'm Antonio. I like beers food and Travelling. I wannabe cook.
			</h1>
			<h3 class="small-quote">
				But I do Websites for living.
			</h3>
		</header>
	</section>
	<section class="skills">
		<header>
			<h1 class="skills-header">What Do I Do?</h1>
		</header>
		<div class="whatIdo">
			<article class="what">
			<h3 class="what__header">Design</h3>
			<picture>
				<img class="what__visual" src="/images/design.png" alt="Design"></picture>
			<p class="what__text"> 
				Sketch - Photoshop.
				<br>Web Designer with 	
				several years of experience.
			</p>
		</article>
		<article class="what">
			<h3 class="what__header">Code</h3>
			<picture>
				<img class="what__visual" src="/images/code.png" alt="Coding">
			</picture>
			<p class="what__text"> 
				Html5, CSS3, Javascript,
				<br>Php and, recently, Swift.
				Visit my lab for more.
			</p>
		</article>
		<article class="what">
			<h3 class="what__header">Cooking</h3>
			<picture><img class="what__visual" src="/images/cooking.png" alt="Cooking"></picture>
			<p class="what__text"> 
				Yes, not only design. I really
				like cooking and enjoying
				nice food with friends.
			</p>
		</article>
			
		</div>
	</section>
</div>