---
layout: default
---

<section class="journal grid">
	<article class="journal__home">
		<header >
			<h1 class="title--journal"> Antonio Fullone's Personal Blog.</h1>
		</header>
		<p>
			Welcome to my personal blog. Here you can find articles about design and coding. But also suggestions
about expat life, cooking recipes and travelling. All the code published on this blog is available with 
examples in my lab and in my online code repository on <a href="https://bitbucket.org/afullone/">BitBucket</a> and <a href="http://github.com/lastwebdesigner">GitHub</a>. 
		</p>
		<ul class="journal__list">
			{% for post in site.posts %}
		    <li class="journal__post">
		      <a class="journal__post-title" href="{{ post.url }}">{{ post.title }}</a>
		      <span class="date">{{ page.date | date: "%-d %B %Y" }}</span>
		    </li>
		  {% endfor %}
		</ul>
	</article>
</section>
