---
layout: lab
---
<section class="presentation">
    <article >
        <h1>Kaidan: RWD Utility.</h1>
        <p>
             Kaidan is a simple script that uses a file as input for the url's and takes a screenshot of every page using the different resolutions.
        </p>
    </article>
</section>
<section class="lab">
    <div class="flexy-container">
        Install phantomjs and casperjs.Copy kaidan.js and urls.txt in a folder, open urls.txt and add the pages you want to test, separated in a new line.

        http://www.lastwebdesigner.com
        http://www.antoniofullone.it

        Then open the terminal go to the folder with kaidan and run the script using casperjs kaidan.js. It will save all the screenshots in a folder and name each image in this : page_title_width.png The resolutions are managed in an array that can be modified depending on your needs.

        var viewports = [ {w:320,h:480}, {w:480,h:640}, {w:800,h:600}, {w:1024,h:768}, {w:1440,h:960}, {w:1920,h:1080} ]
    </div>
     
</section>