---
layout: lab
---
<section class="lab">
    <header> <h1>Welcome to my Lab!</h1></header>
    <article  class="presentation">
        <p>
            This is my playground, my projects and everything I do as experiment. Most of my public code is on <a href="http://bitbucket.org/afullone/"> BitBucket </a>. 
            If you find some of this code useful for you and want to use it, go ahead and do it!
        </p>
    </article>
    <div class="flexy-container">
        <article class="lab__code flexy-item">
            <h2>My Blog</h2>
            <a href="https://bitbucket.org/afullone/blog">
                <figure class="img--post">
                    <img src="/images/posts/jekyll.png" alt="Icons" />
                    <figcaption>
                       
                    </figcaption>
                </figure>
             </a>
             <span class="desc">The source code of my blog, powered locally by Jekyll.</span>   
        </article>
         <article class="lab__code flexy-item">
            <h2>Kaidan</h2>
        <a href="https://github.com/lastwebdesigner/kaidan">
            <figure>
                <img src="/images/posts/kaidan.png" alt="Script for taking screenshots of responsive web design" />
            </figure>
        </a>
        <span class="desc">Kaidan is a casper script that takes a list of Url and viewports and takes a screenshot of each url for each viewport. #RWD.</span>
    </article>  
     <article class="lab__code flexy-item">
            <h2>Save My Links</h2>
        <a href="http://104.167.109.155:3000">
            <figure>
                <img src="/images/posts/sml.png" alt="An app built in angular js for save links from the web," />
            </figure>
        </a>
        <span class="desc">Save my link is an app that I built while exploring the MEAN stack and learning angularJs. Is still a bit of work in progress.</span>
    </article>  
    <article class="lab__code flexy-item">
            <h2>Switch Mixin</h2>
        <a href="/switch/">
            <figure>
                <img src="/images/lab/switch.png" alt="Switch Buttons Sass Mixin" />
            </figure>
        </a>
        <span class="desc">A complete mixin for create IOS and Material stylish switch buttons.</span>
    </article>   
     <article class="lab__code flexy-item">
            <h2>Circular Menu (Path, Up24)</h2>
        <a href="/circular-menu/">
            <figure>
                <img src="/images/posts/circular.png" alt="Circular menu like inspired by Path and Up24" />
            </figure>
        </a>
        <span class="desc">Circular menu inspired by Path.</span>
    </article>      
     <article class="lab__code flexy-item">
            <h2>Off Canvas with Css</h2>
        <a href="/off-canvas/">
            <figure>
                <img src="/images/posts/off-canvas.png" alt="Off canvas with css and the :target selector" />
            </figure>
        </a>
        <span class="desc">Off Canvas with only css using the <strong>:target</strong> pseudo selector.</span>
    </article> 
     <article class="lab__code flexy-item">
            <h2>Menu icon Morph</h2>
        <a href="/menu-icon/">
            <figure>
                <img src="/images/posts/menu.png" alt="Menu icon Morphing" />
            </figure>
        </a>
        <span class="desc">Simple menu icon morphing using svg, snapSvg and css transform</span>
    </article>    
    </div>
</section>