---
layout: lab
---
<section class="lab">
<div class="presentation">
    <article >
        <h1>Menu Icon Transform with Svg and Css</h1>
        <p>
           A simple animation with Svg and SnapSvg for a menu icon.
           On the right the Css version using transform. 
        </p>
        <p>
            The code in the snippet is quite different from the code in the page(view source code).
            The reason is that I use to Babelify everything, while in this page I am still using "old" javascript.
            Click the button see code for see the Harmony version or view the source code to see the "old" js version. 
        </p>
    </article>
    <div class="actions">
        <button class="btn download" id="see-code">
            <a href="#code">
                <span>See code</span>
            </a>
        </button>
        <button class="btn source">
            <a href="https://bitbucket.org/afullone/menu-icon-morphing">
                <span>Source Code</span>       
            </a>
        </button> 
        <div id="code">
            <pre>
                <code>
import Snap from 'snapsvg';
function endAnimation() {
    // Do something when animation ends
}

export default class MenuIcon {
    constructor() {
        var icon = document.querySelector('.icon');
        icon.addEventListener('click', this.CrossMorph.bind(this)); 
        this.toggle = true;
        this.toggleCss();
    }


    CrossMorph(e){
        var rec = Snap('#Rectangle-1');
        var rec2 = Snap('#Rectangle-2');
        var rec3 = Snap('#Rectangle-3');
        if(this.toggle) {
            e.preventDefault();
            rec.animate({transform: "R45,0,0", fill: 'green'}, 300, mina.easeout, endAnimation());
            rec2.animate({transform: "R-45,22,40", fill: 'green'}, 300, mina.easeout, endAnimation());
            rec3.animate({width:0, opacity: 0}, 100, mina.easein, endAnimation());
            this.toggle = false;
        } else {
            e.preventDefault();
            rec.animate({transform: "R0,0,0", fill: ''}, 300, mina.easeout, endAnimation());
            rec2.animate({transform: "R0,22,40",fill: '' }, 300, mina.easeout, endAnimation());
            rec3.animate({width:60, opacity: 1}, 100, mina.easein, endAnimation());
            this.toggle = true;
        }
    }

    toggleCss() {
        var icon = document.querySelector('.css');
        var btn = icon.querySelector('.menu-icon');
        btn.addEventListener('click', _ => {
            icon.classList.toggle('animate');
        }); 
    }
}
                </code>
            </pre>
        </div>
    </div>
</div>

    <div class="flexy-container">
        <div class="menu-animations">
            <div class="menu">
                <div class="flexy svg">
                    <h2>Svg with SnapSvg</h2>
                    <div class="svg-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="20px" y="20px" width="100%" height="100%" class="icon" preserveAspectRatio="none">
                            <g id="rects" sketch:type="MSLayerGroup" fill="#222222" opacity="0.7" x="10px">
                                <rect class="rec" id="Rectangle-1" sketch:type="MSShapeGroup" x="0" y="0" width="60" height="10">
                                </rect>
                                <rect id="Rectangle-2" sketch:type="MSShapeGroup" x="0" y="20" width="60" height="10"></rect>
                                <rect id="Rectangle-3" sketch:type="MSShapeGroup" x="0" y="40" width="60" height="10"></rect>
                            </g>
                            </g>
                        </svg>              
                    </div>
                </div>  
                <div class="css flexy">
                <h2>CSS Transform</h2>
                    <div class="menu-icon">
                        <span class="first"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/lab/snap.svg.min.js"></script>
<script>
(function(){

    window.addEventListener('DOMContentLoaded', function(){
        var svgIcon = document.querySelector('.icon');
    
        var toggle = true;
        svgIcon.addEventListener('click', toggleSvgMorph, true);
        
        var rec = Snap('#Rectangle-1');
        var rec2 = Snap('#Rectangle-2');
        var rec3 = Snap('#Rectangle-3');

        function endAnimation() {
            // ShouldDo something when animation ends
        }
        
        function toggleSvgMorph() {
            if(toggle) {
         
            rec.animate({transform: "R45,0,0", fill: 'green'}, 300, mina.easeout, endAnimation());
            rec2.animate({transform: "R-45,22,40", fill: 'green'}, 300, mina.easeout, endAnimation());
            rec3.animate({width:0, opacity: 0}, 100, mina.easein, endAnimation());
            
            toggle = false;
        
        } else {

            rec.animate({transform: "R0,0,0", fill: ''}, 300, mina.easeout, endAnimation());
            rec2.animate({transform: "R0,22,40",fill: '' }, 300, mina.easeout, endAnimation());
            rec3.animate({width:60, opacity: 1}, 100, mina.easein, endAnimation());
            
            toggle = true;
            }
        }
        

        // Css toggle class for transform
        var cssIcon = document.querySelector('.css');
        var btn = cssIcon.querySelector('.menu-icon');
        
        btn.addEventListener('click', function(e){
            cssIcon.classList.toggle('animate');
        });

        // See Code

        var see = document.getElementById('see-code');
        var code = document.getElementById('code');
        see.addEventListener('click', function(e){
            e.preventDefault();
            code.classList.toggle('show');
        });
    });

    
})();
</script>