---
layout: lab
---
<section class="lab">
<div class="presentation">
    <article >
        <h1>Off Canvas using only Css.  </h1>
        <p>
            Off Canvas using only css. The click is created with the :target pseudo selector 
            which triggers the style in the sidebar and so showing the animation. Again the :target works on the #close button to change the hash in the url and so re-apply the original styles.
            Something not for real use but fun to build.   
        </p>
    </article>
    <div class="actions">
        <button class="btn download">
            <a href="http://codepen.io/lastwebdesigner/pen/JoVVOp">
                <span>Full Example</span>
            </a>
        </button>
        <button class="btn source">
            <a href="https://bitbucket.org/afullone/off-canvas-with-css">
                <span>Source Code</span>       
            </a>
        </button> 
    </div>
</div>
    <p></p>
    <p data-height="268" data-theme-id="13761" data-slug-hash="JoVVOp" data-default-tab="result" data-user="lastwebdesigner" class='codepen'>See the Pen <a href='http://codepen.io/lastwebdesigner/pen/JoVVOp/'>Off Canvas with Css</a> by lastwebdesigner (<a href='http://codepen.io/lastwebdesigner'>@lastwebdesigner</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <div class="flexy-container">
        
    </div>
     
</section>