---
layout: lab
---
<section class="lab">
<div class="presentation">
    <article >
        <h1>Switch Buttons Sass Mixin</h1>
        <p>
            A complete mixin for create simple IOS and Material Design stylish switch buttons.
            The html is straightforward, a simple label and a checkbox.
      You can use either the Sass version of just the minified, in the second case you will
            need to use the default classes or you can just change the classes name in the file.   
        </p>
    </article>
    <div class="actions">
        <button class="btn download">
            <a href="http://antoniofullone.com/downloads/switch.zip">
                <span>Download</span>
            </a>
        </button>
        <button class="btn source">
            <a href="https://bitbucket.org/afullone/full-switch-mixin">
                <span>Source Code</span>       
            </a>
        </button> 
    </div>
</div>

    <div class="flexy-container">
             <div class="switches">
                <div class="item flexy-item">
                    <h2>Ios Classic Style</h2>
                     <p class="ios rounded">
                        <input type="checkbox" data-type="switch" name="switch">
                        <label for="switch"></label>
                    </p>                    
                </div>
                <div class="item flexy-item">
                    <h2>Ios Square</h2>
                     <p class="ios square">
                        <input type="checkbox" data-type="switch" name="switch">
                        <label for="switch"></label>
                    </p>
                </div>
                <div class="item flexy-item">
                    <h2>Material Design Default</h2>
                     <p class="material">
                        <input type="checkbox" data-type="switch" name="switch">
                        <label for="switch"></label>
                    </p>
                </div>
                <div class="item flexy-item">
                    <h2>Material Design Custom Color</h2>
                     <p class="material purple">
                        <input type="checkbox" data-type="switch" name="switch">
                        <label for="switch"></label>
                    </p>
                </div>
            </div>

    </div>
     
</section>