		<footer class="main-footer">
			<div class="flexy">
				<div class="contact" id="contact">
					<ul>
						<li class="contact__item">
							<a href="http://nl.linkedin.com/in/antoniofullone" class="social linkedin">Linkedin</a>
						</li>
						<li class="contact__item">
							<a href="https://bitbucket.org/afullone" class="social bitbucket">BitBucket</a>
						</li>
						<li class="contact__item">
							<a href="https://github.com/lastwebdesigner" class="social github">Github</a>
						</li>
						<li class="contact__item">
							<a href="https://dribbble.com/lastwebdesigner" class="social twitter">Dribbble</a>
						</li>
						<li class="contact__item">
							<a href="https://twitter.com/LastWebdesigner" class="social dribbble">Twitter</a>
						</li>
						<li class="contact__item">
							<a href="https://www.facebook.com/Antonio.Fullone" class="social facebook">Facebook</a>
						</li>
						<li class="contact__item">
							<a href="https://plus.google.com/+antoniofullone/" class="social twitter">Google</a>
						</li>
						<li class="contact__item">
							<a href="mailto:antonio.fullone@gmail.com" id="email" class="social email">Email</a>
						</li>
					</ul>
				</div>
				<div class="nerdy">
					<div class="footer-info">
						<p>
							This is the personal website of Antonio Fullone, a web designer from Italy  living in <span class="old-text">Delft, Netherlands</span> Andalucia, Spain. He loves design, coding, cooking, travelling and so on .. He's crazy for Tigers.
						</p>
					</div>
					<h3 class="colophon__header">Nerdy Stuff</h3>
					<div class="colophon">
						<div class="col typgraphy">
						<h4>Typography</h4>
							<p>
								<strong>Body text:</strong> 
								Livory by HVD Fonts
								<strong>Navigation:</strong> 
								Proxima Nova by Mark Simonson Studio.							
							</p>
						</div>
						<div class="col coding">
						<h4>Design/Coding</h4>
						<p>
							Made with: <strong>Mac Book Pro 2013.</strong>
							Designed with: <strong>Sketch.</strong> 
							Coded with:  <strong>Sublime Text</strong> Html, Css Sass, Js.						
						</p>
						</div>
						<div class="col powered">
						<h4>Powered By</h4>
						<p>
							Proudly powered by
							<strong>Jekyll</strong> and hosted by
							<strong>Media Temple</strong>.						
						</p>
						</div>
					</div>
				</div>
			</div>
			<p class="copyright"> &copy;  2009-2015 </p>
		</footer>
	</div>

<script src="/main.js" async="true"></script> 