<div id="page" class="page">
	
	<!--</header>-->
		<header class="main-header" role="banner">
			<div class="logo">
				<a href="/" class="logo__link">
					<img class="logo__image" src="/images/logo.png" alt="" class="img-logo">  	
				</a>		
			</div>
			<nav class="main-nav" role="navigation">
				<a class="main-nav__item" href="/antonio/" title="About me">ABOUT</a>
				<a class="main-nav__item"  href="/journal/" title="Journal">JOURNAL</a>
				<a class="main-nav__item"  href="/lab" title="">LAB</a>
				<a class="main-nav__item"  href="#email" title="">CONTACT</a>
			</nav>
		</header>
