// /* ==========================================================================
//    Blog
//    ========================================================================== */
// .post {
// 	position: relative;
// 	top: -1em;
// 	.post-header {
// 		h1 {
// 			//margin: 1.5em 0 0 0;
// 			margin-top: #{map-get($typo_scale, ms9)}em; 
// 			text-align: center;
// 			line-height: 1;
// 		}
// 	}
// }