// /* ==========================================================================
//    Lab
//    ========================================================================== */
 
.lab {
	@extend .grid;
	max-width: 980px;
	margin: auto;
	h1 { 
		text-align: center;
		max-width: 95%;
		margin: auto;
		@include toRem(map-get($scale, bigger));
		@include mq(768px, min-width) {
			@include toRem(map-get($scale, extra));
		}
	}
	article h2 {
		@include toRem(24);
		text-align: center;
		@include mq(768px, min-width) {
			text-align: left;
		}
	}
}
.flexy-container {
	margin-top: 2.5em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	@include mq(768px, min-width) {
		flex-direction: row;
	}
	
}
.desc {
	display: block;
	margin: .5em 0;
	color: rgba(#222, 1);
	text-align: center;	
	@include mq(768px, min-width) {
		text-align: left;
	}
}
.flexy-item {
	flex: 1;
	figure {
		height: 150px;
		overflow: hidden;
	}
	@include mq(768px, min-width) {
		width: 250px;
		flex: none;
		margin: 30px;
	}
}
.lab__code {
	padding: 5px;
}
.actions {
	@extend %group; 
}
.btn {
	width: auto;
	min-width: 120px;
	padding: 10px;
	border-radius: 1px;
	background: rgba($cp-link, 0.8);
	color: #fff;
	font-size: 12px;
	font-style: italic;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px; 
	border: none;
	&:hover {
		background: lighten($cp-link, 5%);
	}
	&:last-child {
		margin-right: 0;
	}
	// border: 1px solid darken($cp-link, 20%);
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
}
#code {
	opacity: 0;
	height: 0;
	transition: all 0.2s ease-out;
	&.show {
		opacity: 1;
		height: 450px;
		width: 80%;
		max-width: 600px;
		overflow: scroll; 
	}
}

.gallery {
	overflow: hidden;
	width: 120px;
	height: 120px;
	position: relative;
	margin: 20px auto;
	@include mq(768px, min-width) {
		width: 520px;
		height: 100%;
		max-height: 700px;
		overflow: none;
		&.design-icon {
			width: 120px;
			height: 120px;
		}
	}
	&:active {
			
	}
	img {
		width: 100%;
		height: auto;
		max-width: 100%;
		cursor: pointer;
		display: block;
	}
}
.lab-design .btn {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	text-align: center;
}
.design .flexy-item figure {
	max-height: 450px;
	height: auto;
	width: 100%;
	&.design-icon {
			width: 120px;
			height: 120px;
			min-width: 120px;
		}
	@include mq(768px, min-width) {
		width: 100%; 
		min-width: 600px; 
		height: auto; 
		max-height: 700px;
		&.design-icon {
			width: 120px;
			height: 120px;
			min-width: 120px;
		}
	}
}
.btn.centered {
	margin: auto;
	display: block;
}