// // Typography Mixins
@mixin proxima($fontWeight: 100) {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
	font-style: normal;
	font-weight: $fontWeight;
}

@mixin livory($fontWeight: 400, $fontStyle: normal) {
	font-family: "livory-1","livory-2", sans-serif;
	font-style: $fontStyle;
	font-weight: $fontWeight;
}

a {
	color : $cp-link;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
pre {
  font-size: 15px;
  line-height: 1.5;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: normal;
  font-style: italic;
  padding: 10px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  border-radius: 4px;
  max-width: 90%;
  background: #222;
  overflow-x: auto; 
}
blockquote {
	font-style: italic;
	font-size: 17px;
	padding-left:10px;
	border-left: 5px solid $cp-line-gray;
	width: 80%;
	max-width: 450px;
	margin: 0 1.5em;
	@include mq(1024px, min-width) {
		@include toRem(map-get($scale, medium));
		margin: auto;
		display: block;
		max-width: 650px; 
	}
	font-size: 1.1rem;
}

picture,
figure  {
	max-height: 400px;
	overflow: hidden; 
	position: relative;
	margin: 0;
}
body {
	@include livory(); 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	line-height: 1.5;
	letter-spacing: 0.01rem;

	text-rendering: optimizeLegibility;

	-moz-font-feature-settings: “liga” on;

	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 2;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-lines: 2;

	color: rgba($cp-body-text, 1);

	@include mq(768px, min-width) {
		@include toRem(22);
	}
}

.main-nav {
	@include proxima();	
	@include toRem(18);
	width: 100%;
	margin-top: #{map-get($scale, ms8)}em;
	margin-bottom: #{map-get($scale, ms8)}em;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-nav__item {
	text-decoration: none;
	color: rgba($cp-body-text-alternate, 1);
	display: inline-block;
	flex: 1;
	flex-basis: auto;
	width:90px;
	min-height: 25px;
	text-align: center;
}

.big-quote {
	@include toRem(map-get($scale, large));
	font-weight: 400;
	text-align: center;
	@include mq(768px, min-width) {
		@include toRem(map-get($scale, extra));
	}
}

.small-quote {
	@include toRem(map-get($scale, small));
	font-style: italic;
	color: rgba($cp-body-text-alternate, 1);
	text-align: right;
	max-width: 90%;
}

.welcome {
	position: relative;
	margin: #{map-get($scale, ms9)}em auto;
	@include mq(768px, min-width) {
		margin: #{map-get($scale, ms11)}em auto;
	}
}

.what__header {
	@include toRem(36);
	font-weight: normal;
	text-align: center;
}

.skills-header {
	@include toRem(map-get($scale, large));
	font-weight: 400;
	text-align: center;
	text-decoration: underline;
	margin: 0;
	@include mq(768px, min-width) {
		@include toRem(map-get($scale, extra));
	}
}

.date {
	@include toRem(map-get($scale, small));
	color : $cp-body-text-alternate;
}

.desc {
	@include toRem(18);
	@include mq(1024px, min-width) {
		@include toRem(20);
	}
}

.journal .list-header {
	text-align: center;
}
