@import "lib/switch";

// Switch Buttons
.ios {
	@include switch($type: 'ios');
}
.material {
	@include switch($type: 'material');	
}

.ios.square {
	@include switch($type: 'ios', $subtype: 'square');	
}

.material.purple {
	@include switch($type: 'material', $materialBackground: #512DA8);
}
.my-switch {
	@include switch(
	$type: 'material',
	$width: 60, 
	$materialBackground: #FFEB3B,
	$toggleBackground: #f9f9f9
	);
}


.item {
	display: inline-block;
	min-width: 150px;
	padding: 10px;
	h2 {
		font-size: 100%;
	}
}
.highlited {
}
