// Strips unit from numbers (usefull sometimes)

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// Convert in Rem Function + mixin
@function pxToRem($size) {
	$remSize: $size / $base-font-size;
	@return #{$remSize}rem;
}

@mixin toRem($size) {
	//Fallback in px
	font-size: #{$size}px;
	font-size: pxToRem($size);
}

@function lineHeight($font) {
	$_lineHeight: $base-line-height / ($font);
	@return strip-unit($_lineHeight); 
}

@mixin line_height($font) {
	line-height: lineHeight($font);
}
