%group {
	&:before,
	&:after {
		content : " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	@if($is-IE7 == true or $is-IE8 == true){
	*zoom :1;
	}
}

.hide {
	position: absolute;
	left: -9999999em;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.rwd-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.code {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	padding: 10px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	border-radius: 4px;
	max-width: 70%;
	margin: 40px auto;
	background: #fcf8e3;
}
