// Debug

$debug: false;
$red: #ff0000;
$yellow: #ff0000;

// Legacy Browsers
$is-IE7 : false;
$is-IE8 : false;
$is-IE9 : true;

$cp-grey: #cccccc;

// Images Paths
$img-path: '/images/css';
// Typography Base Config

$base-line-height: 1.875;
$base-font-size: 16; // 1.5 / 16 = x / 20
$rhythm-unit: 27;
$guide-color: $cp-grey; 

// modular scale values
// http://modularscale.com/scale/?px1=16&px2=48&ra1=1.5&ra2=0

$scale : (
	
	ms1: 0.088,
	ms2: 0.132,
	ms3: 0.198,
	ms4: 0.296,
	ms5: 0.444,
	ms6: 0.667,
	ms7: 1,
	ms8: 1.5,
	ms9: 2.25,
	ms10: 3.375,
	ms11: 5.063,
	ms12: 7.594,
	ms13: 11.391,
	ms14: 17.086,
	ms15: 25.629,
	ms16: 34.172,
	ms17: 38.443,
	ms18: 57.665,
	
	// Pixel values
	xx-small : 9,
	x-small  : 10,
	small    : 14,
	base     : 16,
	medium   : 21,
	x-medium : 24,
	large    : 32,
	x-large  : 36,
	bigger   : 48,
	extra    : 64			
);

// Color Palette
$cp-white       		: #ffffff;
$cp-black       		: #000000;
$cp-body-text			: #444444;
$cp-body-text-alternate	: #979797;
$cp-line-gray			: #e5e5e5;
$cp-link				: #4183D7;
$cp-orange      		: #F8AC48;
$cp-body-bg				: #F0E5C9;

// Breakpoints bp / 18

$bp-large-screen  : 56.88888em; // 1024px
$bp-medium-screen : 35.5em; // 640px

