<!DOCTYPE html>
<html lang="en-GB">
  {% include head.html %}

    <body>
		<!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% include header.html %}

      {{ content }}  

    {% include footer.html %}

    </body>
</html>